@mixin box-w-2 {
   box-shadow:0 0 0 var(--border-width) var(--border-color);
   overflow: hidden;
}

@mixin full-cover {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

@mixin full-contain {
   height: 100%;
   width: 100%;
   object-fit: contain;
}

@mixin full-absolute {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}