:root {
  --bg-color: black;
  --txt-color: white;
  --border-color: var(--txt-color);
  --border-width: 1px;
  --accent-color: #888888;
}

@font-face {
  font-family: 'DotGothic16';
  src: url('/font/DotGothic16-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/font/VCR_OSD_Mono-Bold.ttf')  format('truetype');
}

html, body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'DotGothic16', monospace;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 800;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VCR OSD Mono', sans-serif;
  text-align: inherit;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0b0b0b;
}

/* button:active {

} */